{% extends 'viewerapp/index.html' %}
{% load static %}
{% block content %}
<div class="page-title" data-aos="fade">
  <div class="heading">
    <div class="container">
      <div class="row d-flex justify-content-center text-center">
        <div class="col-lg-8">
          <h1>Services</h1>
          <p class="mb-0">Odio et unde deleniti. Deserunt numquam exercitationem. Officiis quo odio sint voluptas consequatur ut a odio voluptatem. Sit dolorum debitis veritatis natus dolores. Quasi ratione sint. Sit quaerat ipsum dolorem.</p>
          <a href="{% url 'contact' %}" class="cta-btn">Available for Hire<br></a>
        </div>
      </div>
    </div>
  </div>
  <nav class="breadcrumbs">
    <div class="container">
      <ol>
        <li><a href="{% url 'index' %}">Home</a></li>
        <li class="current">Services</li>
      </ol>
    </div>
  </nav>
</div><!-- End Page Title -->

<!-- Services Section -->
<section id="services" class="services section">

  <div class="container">

    <div class="row gy-4">

      {% for service in services %}
      <div class="col-xl-3 col-md-6 d-flex"  data-aos="fade-up" data-aos-delay="100" >
       
        <div class="service-item position-relative" style="background-color: var(--background-color); color: var(--heading-color); border:1px solid var(--accent-color);">
          <div class="icon"><i class="bi bi-activity icon"></i></div>
          <h4><a href="" class="stretched-link">{{ service.title }}</a></h4>
          <p>{{ service.description }}</p>
        </div>
      </div><!-- End Service Item -->
      {% endfor %}
      

    </div>

  </div>

</section><!-- /Services Section -->

<!-- Pricing Section -->


<!-- Testimonials Section -->


<script>
  var navitem = document.getElementById("services");
  navitem.classList.add("active");
</script>
{% endblock %}

{% block preloader %}
{% endblock %}